.btn {
    width: 100%;
    height: 40px;
    background: #dd5757;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: 0.2s all ease-out;
}

.btn.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.btn:hover {
    background: #858fbd;
}

.btn img {
    height: 100%;
    padding: 10px;
}